<div class="row">
  <div class="col-12 col-sm-6 col-lg-4 col-xl-3" *ngFor="let client of clients">
    <div class="card mb-2">
      <div class="card-body">
        <h4 class="card-title">{{ client.id }}</h4>
        <h6 class="card-subtitle mb-2 text-muted" *ngIf="isAdmin">Latenz: {{ client.latency }}</h6>
      </div>
      <div class="list-group list-group-flush">
        <div class="list-group-item list-group-item-danger" *ngIf="!client.connected">
          Nicht verbunden
        </div>
        <div *ngIf="client.connected">
          <!--{% for stream in sorted(server.streams, key=lambda stream: (stream.status != 'playing', not stream.friendly_name.startswith(client.identifier), stream.friendly_name)) %} -->
          <ng-container *ngFor="let stream of streams">
            <a *ngIf="stream.status == 'playing' || client.stream == stream.id || stream.id.startsWith(client.id)"
               href="javascript:void(0)"
               (click)="api.setStream(client, stream)"
               class="list-group-item list-group-item-action"
               [ngClass]="{'active': client.stream == stream.id, 'list-group-item-info': stream.id.startsWith(client.id)}">
              <i class="icon-stream-idle"
                 [ngClass]="{'icon-stream-idle': stream.status == 'idle', 'icon-stream-playing': stream.status == 'playing'}"></i>
              {{ stream.id }}
            </a>
          </ng-container>
        </div>
      </div>
      <div class="card-body" *ngIf="client.connected || isAdmin">
        <a href="javascript:void(0)" *ngIf="client.connected && client.muted" (click)="api.unmute(client)"
           class="card-link">Ton einschalten</a>
        <a href="javascript:void(0)" *ngIf="client.connected && !client.muted" (click)="api.mute(client)"
           class="card-link">Ton ausschalten</a>
        <a href="javascript:void(0)" *ngIf="isAdmin" (click)="api.delete(client)"
             class="card-link text-danger">Löschen</a>
      </div>
      <div class="card-body" *ngIf="client.connected && getMopidyServerNameForClient(client) !== null">
        <a [routerLink]="['/browse']" [queryParams]="{name: getMopidyServerNameForClient(client), play: false}" class="card-link">Lokale Musik ändern</a>
      </div>
      <div class="card-body" *ngIf="isAdmin">
        <div class="input-group">
          <input #latency type="number" min="0" name="latency" value="{{ client.latency }}" class="form-control"
                 placeholder="Latenz" aria-label="Latenz">
          <span class="input-group-btn">
              <button class="btn btn-secondary" type="submit"
                      (click)="api.setLatency(client, latency.value)">Speichern</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
