.git
.gitignore
.vscode
.idea
server.log
*.log
snapcast-control
snapcast-control-*
*.test
coverage.out
coverage.html
Vagrantfile
.vagrant
ansible
docs
frontend-react/node_modules
TESTING.md
docker-compose.test.yml
integration_test.go
