{% extends 'base.html' %}
{% block content %}
    <div class="col">
        <div class="list-group">
            {% if track_uris %}
                <a  class="list-group-item list-group-item-action active" href="/play?{{ track_uris }}">
                    Alle abspielen
                </a>
            {% end %}
            {% for item in items %}
                {% if item['type'] == 'track' %}
                    <a href="/play?uri={{ url_escape(item['uri']) }}" class="list-group-item list-group-item-action">
                        {{ item['name'] }}
                    </a>
                {% else %}
                    <a href="/browse?uri={{ url_escape(item['uri']) }}&type={{ url_escape(item['type']) }}" class="list-group-item list-group-item-action">
                        {{ item['name'] }}
                    </a>
                {% end %}
            {% end %}
        </div>
    </div>
{% end %}