.cover {
  display: block;
  max-width: 64px;
  max-height: 64px;
  width: auto;
  height: auto;
}

.list-group-flush .list-group-item:first-child {
  /* Re-add top border */
  border-top-width: 1px;
}